.App {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 13px;
  padding:50px;
}

.App-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}
